BODY {background:black;margin-left:15px;margin-right:15px; 
font-family: Verdana, Arial, Helvetica, sans-serif; font-weight:600; font-size:10pt; color:#FF9933;
text-align: justify}

H1 {background:maroon; font-family: Impact, sans-serif; margin-left:25px; margin-right:25px; 
padding:7px; font-size: 28 pt; font-weight:900; text-align:center; color:rosybrown; 
border-style:outset; border-width:2px; border-color:silver}

H2 {background:#660066; margin-left:45px; margin-right:45px; font-size: 16 pt; font-weight:800; 
text-align:center; padding:10px; color:olive; border-style:outset;border-width:2px; 
border-color:#cc33ff}

H3 {font-size: 13 pt; font-weight:700;text-align:left;color:#cc9999}

H4 {text-align:right;font-weight:900;font-size:10 pt;color:cadetblue}

H5 {text-align:center;font-weight:900;font-size:11pt; color:cornflowerblue}

BLOCKQUOTE {margin-left:35px;margin-right:25px;text-align:justify;font-weight:800; color:tan}

SPAN {color:#DEDEDE; font-weight:800}

P.dos {background:#665555; text-align:center; padding:5px; border-style:solid;border-width:1px; 
border-color:chocolate}

A:link {color:khaki; font-weight:800;text-decoration:none}
A:visited {color:beige; font-weight:800;text-decoration:none}
A:hover {color:pink}

A.tir:link {color:beige;font-weight:800;text-decoration:none}
A.tir:visited {color:pink;font-weight:800;text-decoration:none}
A.tir:hover {color:gold}


